@model WebAppAspnet.Models.Table_Company

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Информация о компании</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.companyPersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyPersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyPersonSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyPersonSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyPersonSecName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyPersonSecName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyPackage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyPackage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companySite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companySite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyFax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyPackEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyPackEndDate)
        </dd>
    </dl>
</div>

<p>
    |
    @Html.ActionLink("Вернуться к списку ообъявлений", "Index")
</p>
